{% if value == 1 %}
   <i class="fa-solid fa-face-angry" style="color: red;" title="1"></i>
{% elif value == 2 %}
   <i class="fa-solid fa-face-frown" style="color: orange;" title="2"></i>
{% elif value == 3 %}
   <i class="fa-solid fa-face-meh" style="color: #ebdb00;" title="3"></i>
{% elif value == 4 %}
   <i class="fa-solid fa-face-smile-beam" style="color: #3dd43d;" title="4"></i>
{% elif value == 5 %}
   <i class="fa-solid fa-face-grin-wink" style="color: green;" title="5"></i>
{% else %}
   <span>-</span>
{% endif %}
